body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

.loginbox {
    position: absolute;
    width: 400px;
    height: 310px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.reg-box {
    display: none;
    padding: 0 30px;
}

.login-box {
    padding: 0px 30px;
}